page-profil-view {
    .content {
        background: black;
        text-align: center;
        color: white;
    }
    ion-title {
        background: black;
        color: white;
    }
    .img {
        width: auto;
        height: auto;
    }
}